In [1]:
import pandas as pd

In [50]:
data = pd.Series([5,7,5,1,6],name='num_dropped')
print(data)
data1 = data.drop(1)
print(data1)
total = data + data1
print(total)

0    5
1    7
2    5
3    1
4    6
Name: num_dropped, dtype: int64
0    5
2    5
3    1
4    6
Name: num_dropped, dtype: int64
0    10.0
1     NaN
2    10.0
3     2.0
4    12.0
Name: num_dropped, dtype: float64

In [ ]:
datatest = pd.Series( [4,1,0,2,2,1],
                    index=list['C++','Golang','Java','Golang','Java','C++'],
                    name='num_drop')

In [44]:
a = data.drop([1,2,3])
# print(data.index[3])
print(a)

0    5
4    6
Name: num_dropped, dtype: int64

In [18]:
data.loc[1:3]

1    7
2    5
3    1
Name: num_dropped, dtype: int64

In [14]:
print(data['c':'e'])

c    5
d    1
e    6
Name: num_dropped, dtype: int64

In [19]:
data = pd.Series([5,7,5,1,6],index= list('abcde'),name='num_dropped')

In [22]:
print(data.between(3,6))

0     True
1    False
2     True
3    False
4     True
Name: num_dropped, dtype: bool

In [27]:
print(data[data.between(3,6)])

0    5
2    5
4    6
Name: num_dropped, dtype: int64

In [35]:
df = pd.read_csv('advertising_simple.csv')
print(df)
print(df.sort_values('Newspaper'))
print(df.sort_values(['Newspaper','Radio']))

    TV  Radio  Newspaper  Sales
0   44     39         45     10
1   17     45         69     12
2  151     41         58     16
3  180     10         58     17
4    8     48         75      7
5   57     32         23     11
6  120     19         11     13
7    8      2          1      4
    TV  Radio  Newspaper  Sales
7    8      2          1      4
6  120     19         11     13
5   57     32         23     11
0   44     39         45     10
2  151     41         58     16
3  180     10         58     17
1   17     45         69     12
4    8     48         75      7
    TV  Radio  Newspaper  Sales
7    8      2          1      4
6  120     19         11     13
5   57     32         23     11
0   44     39         45     10
3  180     10         58     17
2  151     41         58     16
1   17     45         69     12
4    8     48         75      7